<mat-card>

    <mat-toolbar color="#DDE0E2"> Realizar Depósito </mat-toolbar>

    <mat-card-content>
        <form [formGroup]="form" class="min-width">

            <mat-form-field class="full-width" appearance="fill" floatLabel="always">
                <mat-label>Valor</mat-label>
                <input matInput formControlName="valor" type="number" class="example-right-align" placeholder="0">
                <mat-error *ngIf="form.get('valor')?.invalid">{{getErrorMessage('valor')}}</mat-error>
            </mat-form-field>

        </form>
    </mat-card-content>

    <mat-card-actions>
        <button class="input" mat-raised-button (click)="deposito()" color="primary">Depositar</button>
        <button mat-raised-button [routerLink]="['/dashboard']">Cancelar</button>
    </mat-card-actions>

</mat-card>
